# Archivos de empaquetado de Arch Linux
*.pkg.tar.zst
*.pkg.tar.xz

# Logs y errores
*.log
error

# Carpetas de desarrollo y compilación
pkg/
src/

# Entorno virtual y caché de Python (muy importante)
env_linux/
__pycache__/
*.pyc
