pkgbase = sinergia-dd-burner
	pkgdesc = Herramienta para quemar imágenes DD
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	license = GPL
	depends = python
	source = app.py
	source = dd-burner.png
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = sinergia-dd-burner
